<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Розклад - Адміністративна панель uatocz</title>


    <!--JQuery-->
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>

    <!--Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--END//BOOTSTRAP-->

    <!-- Custom styles for this template -->
    <!--<link href="css/table_style.css.css" rel="stylesheet">-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <link href="../static/css/adm_cover.css" rel="stylesheet">


</head>

<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
                MENU
            </button>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="admiral/admin.html">
                UAtoCZ
            </a>
            <span>Адміністративна панель</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.pingpong-labs.com" target="_blank">Технічна підтримка</a></li>
                <li>
                    <a href="http://www.pingpong-labs.com" target="_blank">Вийти</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <div class="row">
            <!-- uncomment code for absolute positioning tweek see top comment in css -->
            <div class="absolute-wrapper"></div>
            <!-- Menu -->
            <div class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">
                            <li><a href="admiral/admin.html"><span class="glyphicon glyphicon-home"></span> Головна</a></li>
                            <li><a href="adm_prices.html"><span class="glyphicon glyphicon-usd"></span> Ціни</a></li>
                            <li class="active"><a href="#"><span class="glyphicon glyphicon-calendar"></span>
                                Розклад</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-road"></span> Автомобілі</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Контакти</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

            </div>
        </div>
    </div>
    <div class="col-md-10 content ">
        <div class="message-block"></div>

        <div class="table-responsive" style="text-align: center">

            <h3 style="text-align: center">Редагувати існуючі поїздки</h3>

            <table class="table">
                <thead id="header-thead">

                </thead>
                <tbody class="all-schedules">

                </tbody>


            </table>

            <h3 style="text-align: center">Створити нову поїздку</h3>


            <table class="table">
                <thead>
                <tr>
                    <th style="text-align: center">Дата/Час відправлення</th>
                    <th style="text-align: center">Дата/Час прибуття(+-5 годин)</th>
                    <th style="text-align: center">Місце відправлення</th>
                    <th style="text-align: center">Місце прибуття</th>
                    <th style="text-align: center">Маршрут</th>
                    <th style="text-align: center">Автомобіль</th>
                    <th style="text-align: center">К-сть вільних місць</th>
                    <th style="text-align: center">Ціна</th>
                    <th style="text-align: center">Водій</th>
                    <th style="text-align: center">Дія</th>
                </tr>
                </thead>

                <tbody>
                <tr style="text-align: center">
                    <!--Дата-->
                    <th scope="row"><textarea id="CTDDeparture" style="text-align: center" name="textarea" cols="10"
                                              rows="2"></textarea>
                    </th>
                    <!--Дата-->
                    <th scope="row"><textarea id="CTDArrival" style="text-align: center" name="textarea" cols="10"
                                              rows="2"></textarea>
                    </th>
                    <!--Місце відправлення-->
                    <td><textarea id="CPlaceDeparture" style="text-align: center" name="textarea" cols="13"
                                  rows="2"></textarea></td>
                    <!--Місце прибуття-->
                    <td><textarea id="CPlaceArrival" style="text-align: center" name="textarea" cols="13"
                                  rows="2"></textarea></td>
                    <!--Маршрут-->
                    <td><textarea id="CRoute" name="textarea" cols="15" rows="3"></textarea></td>
                    <!--Назва авто-->
                    <td><textarea id="CCar" style="text-align: center" name="textarea" cols="13" rows="2"></textarea>
                    </td>

                    <!--<td>-->
                    <!--<select class="selectpicker">-->
                    <!--<option>Mersedes Benz</option>-->
                    <!--<option>Ketchup</option>-->
                    <!--<option>Relish</option>-->
                    <!--</select>-->
                    <!--</td>-->


                    <!--К-сть вільних місць-->
                    <td><textarea id="CFreeSeats" style="text-align: center" name="textarea" cols="3"
                                  rows="0.5"></textarea></td>
                    <!--Ціна-->
                    <td><textarea id="CPrice" style="text-align: center" name="textarea" cols="3" rows="0.5"></textarea>
                    </td>
                    <!--Водій-->
                    <td><textarea id="CDriver" style="text-align: center" name="textarea" cols="3"
                                  rows="0.5"></textarea></td>
                    <td>
                        <button class="btn btn-primary" id="create-btn" style="background-color: green">Створити
                        </button>
                        <br>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>


    </div>
    <!--<footer class="pull-left footer">-->
    <!--<p class="col-md-12">-->
    <!--<hr class="divider">-->
    <!--&COPY; 2018 <a href="http://www.doroshevych.pp.ua">DV</a>-->
    <!--</p>-->
    <!--</footer>-->
</div>
</body>
<script>


    $(function () {

        getAllSchedules();
        $('.navbar-toggle-sidebar').click(function () {
            $('.navbar-nav').toggleClass('slide-in');
            $('.side-body').toggleClass('body-slide-in');
            $('#search').removeClass('in').addClass('collapse').slideUp(200);
        });

        $('#search-trigger').click(function () {
            $('.navbar-nav').removeClass('slide-in');
            $('.side-body').removeClass('body-slide-in');
            $('.search-input').focus();
        });


    });


    //..START.. Створення подорожі

    function getAllSchedules() {
        $.ajax({
            "url": "http://localhost:8080/schedule/all",
            'method': 'GET',
            'contentType': 'application/json',
            'dataType': 'json',
            'success': function (response) {


                if (response.length > 0) {
                    $('#header-thead').append("<tr id=\"main-tr\" >\n" +
                        "                    <th style=\"text-align: center\">ID</th>\n" +
                        "                <th style=\"text-align: center\">Дата/Час відправлення</th>\n" +
                        "                <th style=\"text-align: center\">Дата/Час прибуття(+-5 годин)</th>\n" +
                        "                <th style=\"text-align: center\">Місце відправлення</th>\n" +
                        "                <th style=\"text-align: center\">Місце прибуття</th>\n" +
                        "                <th style=\"text-align: center\">Маршрут</th>\n" +
                        "                    <th style=\"text-align: center\">Автомобіль</th>\n" +
                        "                    <th style=\"text-align: center\">К-сть вільних місць</th>\n" +
                        "                <th style=\"text-align: center\">Ціна</th>\n" +
                        "                    <th style=\"text-align: center\">Водій</th>\n" +
                        "                    <th style=\"text-align: center\">Дія</th>\n" +
                        "                    </tr>");
                    for (var i = 0; i < response.length; i++) {
                        var ETDDepartureID = "ETDDeparture-"+response[i].id;
                        var ETDArrivalID = "ETDArrival-"+response[i].id;
                        var EPlaceDeparture = "EPlaceDeparture-"+response[i].id;
                        var EPlaceArrival = "EPlaceArrival-"+response[i].id;
                        var ERoute = "ERoute-"+response[i].id;
                        var ECar = "ECar-"+response[i].id;
                        var EFreeSeats = "EFreeSeats-"+response[i].id;
                        var EPrice = "EPrice-"+response[i].id;
                        var EDriver = "EDriver-"+response[i].id;
                        $('.all-schedules').append(
                            "<tr class=\"" +response[i].id+"\" style=\"text-align: center\">\n" +
                            "                <th scope=\"row\">" + response[i].id + "</th>\n" +
                            "                <!--Дата-->\n" +
                            "                <th scope=\"row\"><textarea id=\""+ETDDepartureID+"\" style=\"text-align: center\" name=\"textarea\" cols=\"10\" rows=\"2\">" + response[i].dateAndTimeOfDeparture + "</textarea>\n" +
                            "                </th>\n" +
                            "                <!--Дата-->\n" +
                            "                <th scope=\"row\"><textarea id=\""+ETDArrivalID+"\"  style=\"text-align: center\" name=\"textarea\" cols=\"10\" rows=\"2\">" + response[i].dateAndTimeOfArrival + "</textarea>\n" +
                            "                </th>\n" +
                            "                <!--Місце відправлення-->\n" +
                            "                <td><textarea id=\""+EPlaceDeparture+"\" style=\"text-align: center\" name=\"textarea\" cols=\"13\" rows=\"2\">" + response[i].placeOfDeparture + "</textarea></td>\n" +
                            "                <!--Місце прибуття-->\n" +
                            "                <td><textarea id=\""+EPlaceArrival+"\" style=\"text-align: center\" name=\"textarea\" cols=\"13\" rows=\"2\">" + response[i].placeOfArrival + "</textarea></td>\n" +
                            "                <!--Маршрут-->\n" +
                            "                <td><textarea id=\""+ERoute+"\" name=\"textarea\" cols=\"15\"\n" +
                            "                rows=\"3\">" + response[i].route + "</textarea></td>\n" +
                            "\n" +
                            "                <!--Назва авто-->\n" +
                            "                <td><textarea id=\""+ECar+"\" style=\"text-align: center\" name=\"textarea\" cols=\"13\" rows=\"2\">" + response[i].car + "</textarea>\n" +
                            "                </td>\n" +
                            "\n" +
                            "\n" +
                            "                <!--К-сть вільних місць-->\n" +
                            "                <td><textarea id=\""+EFreeSeats+"\" style=\"text-align: center\" name=\"textarea\" cols=\"3\" rows=\"0.5\">" + response[i].freeSeats + "</textarea></td>\n" +
                            "                <!--Ціна-->\n" +
                            "                <td><textarea id=\""+EPrice+"\" style=\"text-align: center\" name=\"textarea\" cols=\"3\" rows=\"0.5\">" + response[i].price + "</textarea></td>\n" +
                            "                <!--Водій-->\n" +
                            "                <td><textarea id=\""+EDriver+"\" style=\"text-align: center\" name=\"textarea\" cols=\"3\" rows=\"0.5\">" + response[i].driver + "</textarea></td>\n" +
                            "                <td>\n" +
                            "                <button class=\"btn btn-primary edit-btn\" id=\"id-"+response[i].id+"\"> Зберегти</button>\n" +
                            "                <br>\n" +
                            "                <button class=\"btn btn-danger delete-btn \"  id=\"" + response[i].id + "\" style=\"margin-top: 20px\">Видалити</button>\n" +
                            "                </td>\n" +
                            "                </tr>\n"
                        );
                    }
                } else {
                    $('.all-schedules').append("<h2 style=\"color: darkslateblue\">Немає існуючих поїздок</h2>");
                }

            },
            'error': function (error) {
                $('.all-schedules').append("<h2 style=\"color: red\">Невідома помилка!</h2>");
                console.log(error);
            }
        });
    };


    $('#create-btn').click(function () {
        var DTDeparture = $('#CTDDeparture').val();
        var DTArrival = $('#CTDArrival').val();
        var placeDeparture = $('#CPlaceDeparture').val();
        var placeArrival = $('#CPlaceArrival').val();
        var route = $('#CRoute').val();
        var car = $('#CCar').val();
        var freeSeats = $('#CFreeSeats').val();
        var price = $('#CPrice').val();
        var driver = $('#CDriver').val();

        var Schedule = {
            'dateAndTimeOfDeparture': DTDeparture,
            'dateAndTimeOfArrival': DTArrival,
            'placeOfDeparture': placeDeparture,
            'placeOfArrival': placeArrival,
            'route': route,
            'car': car,
            'freeSeats': freeSeats,
            'price': price,
            'driver': driver
        };


        $.ajax({
            'url': 'http://localhost:8080/admiral/schedule/create',
            'type': "PUT",
            'contentType': 'application/json;charset=utf-8',
            'data': JSON.stringify(Schedule),
            'success': function (response) {
                getEventsMessage("Подорож успішно <b>створено!</b>","success");
            },
            'error': function (request, status, error, html) {
                var statusCode = request.status;
                getEventsMessage("Помилка! <b>Не вдалось створити подорож</b>, спробуйте ще раз!","error",statusCode);
            }
        });

    });
    //..STOP.. Створення подорожі


    //..START.. Редагування подорожі


    $(document).on('click', '.edit-btn', function () {

        // var id = $(this).attr("id");
        var str = $(this).attr("id");
        var id = str.split('-')[1];


        var DTDeparture = $("#ETDDeparture-"+id+"").val();
        var DTArrival = $("#ETDArrival-"+id+"").val();
        var placeDeparture = $("#EPlaceDeparture-"+id+"").val();
        var placeArrival = $("#EPlaceArrival-"+id+"").val();
        var route = $("#ERoute-"+id+"").val();
        var car = $("#ECar-"+id+"").val();
        var freeSeats = $("#EFreeSeats-"+id+"").val();
        var price = $("#EPrice-"+id+"").val();
        var driver = $("#EDriver-"+id+"").val();


        var Schedule = {
            'id': id,
            'dateAndTimeOfDeparture': DTDeparture,
            'dateAndTimeOfArrival': DTArrival,
            'placeOfDeparture': placeDeparture,
            'placeOfArrival': placeArrival,
            'route': route,
            'car': car,
            'freeSeats': freeSeats,
            'price': price,
            'driver': driver
        };


        $.ajax({
            'url': 'http://localhost:8080/admiral/schedule/edit',
            'type': "POST",
            'contentType': 'application/json;charset=utf-8',
            'data': JSON.stringify(Schedule),
            'success': function (response) {
                getEventsMessage("Подорож успішно <b>редаговано!</b>","success");
            },
            'error': function (request, status, error, html) {
                var statusCode = request.status;
                getEventsMessage("Помилка! <b>Не вдалось редагувати подорож</b>, спробуйте ще раз!","error",statusCode);
            }
        });

    });

    //..STOP.. Редагування подорожі




    //..START.. Видалення подорожі
    $(document).on('click', '.delete-btn', function () {

        var id = $(this).attr("id");


        //якщо так - то видаляємо


        bootbox.confirm({
            message: "Ви впевнені, що хочете видалити поїздку з ID - "+id+"?",
            buttons: {
                confirm: {
                    label: 'Так',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'Ні',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        'url': 'http://localhost:8080/admiral/schedule/delete',
                        'type': "DELETE",
                        'contentType': 'application/json;charset=utf-8',
                        'data': JSON.stringify(id),
                        'success': function (response) {
                            getEventsMessage("Подорож успішно <b>видалено</b>","success");
                        },
                        'error': function (request, status, error, html) {
                            var statusCode = request.status;
                            getEventsMessage("Помилка!<b>Подорож не видалено</b>, спробуйте ще раз!","error",);
                        }
                    });
                }
            }
        });

    });

    //..STOP.. Видалення подорожі


    // Показати сповіщення вдалого/невдалого створення/видалення подорожі
    function getEventsMessage(message,res,status) {
        if (res === "success") {
            $('.all-schedules').empty();
            $('#header-thead').empty();
            getAllSchedules();
            $('.message-block').append('<div class="alert alert-success alert-dismissible" role="alert">\n' +
                '            <button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                '                <span aria-hidden="true">&times;</span></button>\n' + message +
                '            \n' +
                '        </div>');
        }else{
            $('.message-block').append('<div class="alert alert-danger alert-dismissible" role="alert">\n' +
                '            <button type="button" class="close" data-dismiss="alert" aria-label="Close">\n' +
                '                <span aria-hidden="true">&times;</span></button>\n' + message + " <h2><b>Status: "+ status +"</b></h2>"+
                '            \n' +
                '        </div>');
        }



        window.scrollTo(0, 0);

    }


</script>



</html>