<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Головна - Пасажирські перевезення Україна-Чехія</title>

    <!--START//BOOTSTRAP-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--END//BOOTSTRAP-->

    <!--JQuery-->
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>

    <!--Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--END//BOOTSTRAP-->

    <!--Pulling Awesome Font -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/css/cover.css" rel="stylesheet">
    <link href="css/table_style.css.css" rel="stylesheet">
    <link href="../../static/css/contact_style.css" rel="stylesheet">

</head>

<body>
<div class="cover-container header-container">
    <div class="inner">
        <div class="col-md-12" style="float: right">
            <ul class="social-network social-circle">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" class="icoVK" title="Vk"><i class="fa fa-vk"></i></a></li>
                <li><a href="#" class="icoOdnoklassniki" title="Odnoklassniki"><i class="fa fa-odnoklassniki"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="inner">
        <h3 class="masthead-brand">
            <span style="color: blue">U</span>
            <span style="color: yellow">A</span>
            <span>to</span>
            <span style="color: red">C</span>
            <span style="color: blue">Z</span>
        </h3>
        <ul class="nav masthead-nav">
            <li class="active"><a href="/">Домашня</a></li>
            <li><a href="/price">Ціни</a></li>
            <li><a href="/schedule">Розклад</a></li>
        </ul>
    </div>
</div>
<div class="cover-container">
    <div class="inner cover" style="margin-top: 200px;margin-bottom: 200px">
        <h1 class="cover-heading">Пасажирські перевезення Україна-Чехія</h1>
        <p class="lead">Наша команда, надає послуги перевезення пасажирів з України до Чеської Республіки та навпаки.
            Декілька разів на тиждень.
        </p>
        <p class="lead">
            <a href="/schedule" class="btn btn-lg btn-default">Розклад поїздок</a>
        </p>
    </div>
</div>


<div class="cover-container">
    <div class="mastfoot" style="position: static;margin-top: 50px;">
        <div class="inner">
            <p>©2018 uatocz.com
            <p>Всі права захищено!</p></p>
            <p style="opacity: 0.2">Developer: <a href="http://www.doroshevych.pp.ua">Vadym Doroshevych</a></p>
        </div>
    </div>


</div>
</body>

</html>